.owl-dots {
    position: absolute;
    left: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.owl-dot {
    margin: .5rem 0;
    height: .5rem;
    width: .5rem;
    border: .1rem solid #2f2f2f !important;
    border-radius: 50%;
    transition: all .35s;
}

.owl-dot.active {
    background-color: #2f2f2f !important;
}

.owl-carousel {
    position: initial;
}