.navigationList {
    position: absolute;
    right: 25%;
    transform: translateX(50%);
    top: -3rem;
    z-index: 100;
    list-style: none;
    padding: 0;
    display: flex;

    &__item {
        color: white;
        font-size: 1rem;
        font-weight: 400;
        border-bottom: .125rem solid transparent;
        margin-left: 1.75rem;
        padding-bottom: .35rem;

        &:hover {
            cursor: pointer;
        }
    }

    .activeLink {
        border-bottom: .125rem solid white;
    }
}