.container {
    position: relative;
    padding: .1rem;
}

.imageList {
    width: 80rem;
    max-width: 95%;
    margin: 5rem auto 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}